# Setting file for clang-tidy

Checks: >
  -*,
  boost-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  hicpp-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  mpi-*,
  performance-*,
  readability-*,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,

WarningsAsErrors: '*'
