html/* linguist-documentation

# Handle all files as text and normalize to LF on commit
* text=auto

# Force LF for all files Git detects as text on checkout
* text eol=lf

# Alternatively, explicitly treat them as binary
*.png binary
*.jpg binary
*.jpeg binary
