# Build & Install files
**/build
**/install
**/CMakeFiles
Makefile
cmake_install.cmake
CMakeUserPresets.json

# IDE files
**/.cache
**/.clangd
**/.vscode
**/.venv
**/venv
compile_commands.json

# Output files
*.log
*.vtu
*.pvtu
*.vtk
*.txt
!CMakeLists.txt

# Executables
main
main-release
main-debug

# Mac
.DS_Store
