# Build files & folders
**/build*
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja*
CTest*
**expand_template_instantiations_exe
**.inst

# Config files
include/prismspf/config.h
cmake/prisms_pf-config.cmake
cmake/prisms_pf-targets.cmake
cmake/templates
compile_commands.json

# IDE files
**/.vscode

# Python virtual environments
**/venv

# clangd
**/.cache
**/.clangd

# Slurm logs
*.out
*.err

# Compiled libraries
*.a

# Executables
main-release
main-debug

# Output files
*.vtu
*.pvtu
*.vtk
*.log
*.bin
output.txt
error.txt
