name: Cppcheck

on:
  push:
      branches:
        - master
  pull_request:
      branches:
        - master
        - devel
      types:
        - opened
        - reopened
        - synchronize
        - ready_for_review
      paths-ignore:
      - 'contrib/**'
      - 'doc/**'


concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request'}}

jobs:
    cppcheck:
      runs-on: [ubuntu-22.04]

      container:
        image: dealii/dealii:v9.6.0-jammy
        options: --user root

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
          with:
            fetch-depth: 30

        - name: Install cppcheck
          run: |
            wget https://github.com/danmar/cppcheck/archive/refs/tags/2.17.1.tar.gz
            tar -xvzf 2.17.1.tar.gz
            cd cppcheck-2.17.1/
            mkdir build
            cd build
            cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
            cmake --build . --config RelWithDebInfo
            sudo make install

        - name: Run cppcheck
          run: |
            ./contrib/utilities/cppcheck.sh -j$(nproc)
